<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <clear/>
  <add key="AppTitle" value=":: CCAB - Pedido de Venda ::"/>
  <add key="LOG_SOURCE" value="CCAB_SFA_DESENV"/>
  <add key="Servidor_Relatorio" value="http://csaot-2k3-bd01/reportserver" />
  <add key="Relatorio_CompromissoCompra" value="/SFA/DESENVOLVIMENTO/CompromissoCompra"/>
  <add key="Relatorio_CompromissoCompraResumoPorSituacao" value="/SFA/DESENVOLVIMENTO/CompromissoCompraResumoPorSituacao"/>
  <add key="Relatorio_CompromissoCompraAnalitico" value="/SFA/DESENVOLVIMENTO/CompromissoCompraAnalitico"/>
  <add key="Relatorio_CompromissoCompraAnaliticoSimples" value="/SFA/DESENVOLVIMENTO/CompromissoCompraAnaliticoSimples"/>
  <add key="Relatorio_CompromissoCompraSintetico" value="/SFA/DESENVOLVIMENTO/CompromissoCompraSintetico"/>
  <add key="Relatorio_PedidoVenda" value="/SFA/DESENVOLVIMENTO/PedidoVenda"/>
  <add key="Relatorio_PedidoVendaAnalitico" value="/SFA/DESENVOLVIMENTO/PedidoVendaAnalitico"/>
  <add key="Relatorio_PedidoVendaAnaliticoSimples" value="/SFA/DESENVOLVIMENTO/PedidoVendaAnaliticoSimples"/>
  <add key="Relatorio_PedidoVendaSintetico" value="/SFA/DESENVOLVIMENTO/PedidoVendaSintetico"/>
  <add key="Relatorio_TabelaPrecos" value="/SFA/DESENVOLVIMENTO/TabelaPrecos"/>
  <add key="Relatorio_CompromissoCompraConsolidado" value="/SFA/DESENVOLVIMENTO/CompromissoCompraConsolidado"/>
  <add key="Relatorio_PrePedido" value="/SFA/DESENVOLVIMENTO/PrePedido"/>
  <add key="WSPedidoMicrosiga.PEDIDO" value="http://csaot007:85/ws/PEDIDO.apw"/>
</appSettings>
