<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SFA_Servico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="STRING_CONEXAO" value="Data Source=CSAOT005;Initial Catalog=CCAB_SFA_DESENV;Persist Security Info=True;User ID=ccab;Password=cifa171975"/>
    <add key="TEMPO_REPETICAO" value="1800000"/>
    <add key="QUANTIDADE_REGISTROS" value="1"/>
    <add key="NOME_PESSOA_ENVIO" value="JORGE CRUZ"/>
    <add key="EMAIL_PESSOA_ENVIO" value="jorge.cruz@convergence.com.br"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SFA_Servico.Properties.Settings>
      <setting name="SFA_Servico_WSPedidoMicrosiga_PEDIDO" serializeAs="String">
        <value>http://spodb01:85/ws/PEDIDO.apw</value>
      </setting>
    </SFA_Servico.Properties.Settings>
  </applicationSettings>
</configuration>